@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro";
}

html{
    scroll-behavior: smooth;
    overflow: auto;
}

body{
  background: rgb(252, 235, 201);
  color: black;
  overflow: auto;
}


p{
  font-size: 0.85rem;
}

span{
    color: #701515;
    letter-spacing: 0.225em
}

h1{
    color: white;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.container{
    padding: 10px 5%;
}

.column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header{
    width: 100%;
    height: 25vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #961818c9 0%, rgb(252, 235, 201) 90%);
}


.typewritter h1 {
    font-size: 3rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid #701515; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

.typewritter p{
    font-size: 1rem;
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .08em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #701515; }
  }


.carpet{
    width: 85%;
    height: fit-content;
    overflow: hidden;
    background: #92535388;

    border-width: 20px;
    border-radius: 15px;
    border-style: solid;
    border-image: linear-gradient(-90deg, rgba(8,8,8,1) 20%, #961818 100%) 1 100%;


    animation: carpet-roll 1s;

    max-height: fit-content;

    justify-content: space-between;
}

.carpet *{
  margin-top: 2.5%;
  margin-bottom: 5%;
}


.command-window{
  background-color: #92535355;
  padding: 1px 20px;
  border-radius: 5.5px;
}

.command-window::before{
  margin-top: 4px;
  padding: 1px 5px;
  content: "x";
  font-size: 0.65rem;
  color: rgba(221, 221, 221, 0.75);
  background-color: #96181856;
  border-radius: 100px;
  display: inline;
  text-align: center;
  position: relative;
  float: right;
}

.command-window::after{
  content: ">adlucere@admin:~$\00a0";
  border-right: .1em solid transparent; /* The typwriter cursor */
  animation: blink-caret 0.75s step-end infinite;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #701515;
  letter-spacing: 0.225em
}

.command-window p span{

  margin-left:10px;
  font-size: 0.8rem;
}

.test-results{
  letter-spacing: 0.5em;
  text-decoration: underline;
  color: white;
}

.command-window h1{
  color: rgba(227, 215, 161, 0.75);
  margin-left:10px;
  font-size: 1.5rem;
}
.command-window p{
  color: rgba(255, 255, 255, 0.8);
  margin-left:10px;
}




/* roll the red carpet*/
@keyframes carpet-roll {
  from { 
    max-height: 0vh;}
  to {
    max-height: 100vh;}
}


@media only screen  and (max-width: 700px){


.typewritter h1 {
  font-size: 2rem;
}

.typewritter p{
    font-size: 0.75rem;
    letter-spacing: .01em;
}

.carpet{
  width: 95%;
}

p{
  font-size: 0.65rem;
}


h1{
  font-size: 1rem;
}

.command-window p span{
  font-size: 0.7rem;
}

.command-window::after{
  font-size: 0.7rem;
}


img{
  
  max-width: 95%;

}

}

@media only screen  and (max-width: 480px){

  
.typewritter h1 {
  font-size: 1.5rem;
}

.typewritter p{
    font-size: 0.5rem;
    letter-spacing: .01em;
}

.command-window p span{
  font-size: 0.65rem;
}


.command-window p{
  font-size: 0.5rem;
}

.command-window h1{
  font-size: 1rem;
}

.command-window p span{
  font-size: 0.5rem;
}

.command-window::after{
  font-size: 0.5rem;
}

}



