@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro";
}

a{
  color: white;
}

html{
    scroll-behavior: smooth;
    overflow: auto;
}

body{
    background: black;
    color: white;
    overflow: auto;
}

button{
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(146, 146, 146);
  font-size: 0.75rem;
}


p{
  font-size: 0.85rem;
  color: white;
}

span{
    color: #e3d7a1;
    letter-spacing: 0.225em
}

h1{
    color: #e3d7a1;
}

table, td, th, tr{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  max-width: 100%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.container{
    padding: 10px 5%;
}


.row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.column{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.header{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(8,8,8,1) 10%, #961818 90%);
}

.header::after{

  background-position: center;

  width: 100px;
}

 

.footer{
  margin-top: 15px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(8,8,8,1) 0%, #961818 100%);
}


.typewritter h1 {
    font-size: 3rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid #e3d7a1; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

.typewritter p{
    font-size: 1rem;
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .08em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #e3d7a1; }
  }


.carpet{
    width: 85%;
    height: fit-content;
    overflow: hidden;
    background: #9618189c;

    border-width: 20px;
    border-radius: 15px;
    border-style: solid;
    border-image: linear-gradient(-90deg, rgba(8,8,8,1) 20%, #961818 100%) 1 100%;

    animation: carpet-roll 1s;

    max-height: fit-content;

    justify-content: space-between;
}

.carpet *{
  margin-top: 2.5%;
  margin-bottom: 5%;
}


.command-window{
  background-color: rgba(0, 0, 0, 0.256);
  padding: 1px 20px;
  border-radius: 5.5px;
}

.command-window::before{
  margin-top: 4px;
  padding: 1px 5px;
  content: "x";
  font-size: 0.65rem;
  color: rgba(221, 221, 221, 0.75);
  background-color: #96181856;
  border-radius: 100px;
  display: inline;
  text-align: center;
  position: relative;
  float: right;
}


.command-window::after{
  content: ">adlucere@admin:~$\00a0";
  border-right: .1em solid transparent; /* The typwriter cursor */
  animation: blink-caret 0.75s step-end infinite;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #e3d7a1;
  letter-spacing: 0.225em
}


.command-window p span{

  margin-left:10px;
  font-size: 0.8rem;
}

.test-results{
  letter-spacing: 0.5em;
  text-decoration: underline;
  color: white;
}

.command-window h1{
  margin-left:10px;
  font-size: 1.5rem;
}
.command-window p{
  color: rgba(255, 255, 255, 0.8);
  margin-left:10px;
  margin-bottom: 20px;
}




/* roll the red carpet*/
@keyframes carpet-roll {
  from { 
    max-height: 0vh;}
  to {
    max-height: 100vh;}
}


@media only screen  and (max-width: 700px){


.typewritter h1 {
  font-size: 2rem;
}

.typewritter p{
    font-size: 0.75rem;
    letter-spacing: .01em;
}

.carpet{
  width: 95%;
}

p{
  font-size: 0.65rem;
}


h1{
  font-size: 1rem;
}

.command-window p span{
  font-size: 0.7rem;
}

img{
  
  max-width: 95%;

}

.command-window::after{
  font-size: 0.7rem;
}



}

@media only screen  and (max-width: 480px){

  
.typewritter h1 {
  font-size: 1.5rem;
}

.typewritter p{
    font-size: 0.5rem;
    letter-spacing: .01em;
}

.command-window p span{
  font-size: 0.65rem;
}


.command-window p{
  font-size: 0.5rem;
}

.command-window h1{
  font-size: 1rem;
}

.command-window p span{

  margin-left:10px;
  font-size: 0.5rem;
}


.command-window::after{
  font-size: 0.5rem;
}


}







/* Secret */


.button-enchilADA::after{
  padding: 0px 10px;
  content: "what happened to the footer?";
}

.enchilADA{
  padding: 30px 100px;
  background-position: center;
  background-size: cover;
  border-style: groove;
  border-width: 5px;
  border-color: black;
  background-image: url(https://assets.unileversolutions.com/recipes-v2/179095.jpg);
}

.enchilADA::before{

  content: "enchilADA";
  color: rgb(119, 2, 2);
  background-color: rgb(255, 255, 255);
}